.projectPage-from{
    background-color:#2f3640;
    background-size:cover;
    /*height: 500px;*/
    padding: 50px 50px 100px 50px;
    position: relative;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 144px;
    margin-bottom: 50px;
}
.projectPage-Users{
    background-color: #05c46b;
    background-size:cover;
    padding: 10px 10px 10px 10px;
    position: relative;
    border-radius: 10px;
    margin-left: 150px;
}
.projectPage-Users-space{
    background-color: #2f3640;
    background-size:cover;
    padding: 5px ;
    position: relative;
    border-radius: 10px;
}
.projectPage-main-title{
    color: #0fbcf9;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*margin-left: 650px;*/
    margin-bottom: 25px;
}
.projectPage-title{
    color: #1e272e;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 30px;
    line-height: 62px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: center;
    /*margin-left: 450px;*/
    /*margin-bottom: 25px;*/
}
.projectPage-text{
    color: #0fbcf9;
    font-family: 'Lato';
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 20px;
}
.projectPage-btn{
    margin-top: 20px;
    margin-right: 20px;
}
.projectPage-DueDate{
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}
.projectPage-manage{
    position: relative;
    float: right;
}
.projectPage-desc{

}
.desc{
     float: right;
     margin-left: auto;
     margin-right: 0;
 }
.desc div{
    display: flex;
    flex-direction: row;
}