.publicProject-from{
    /*background-color: #535c68;*/
    background-color:#2f3640;
    background-size:cover;
    /*height: 600px;*/
    padding: 20px 50px 20px 50px;
    position: relative;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.publicProject-main-title{
    color: #0fbcf9;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*margin-left: 650px;*/
    margin-bottom: 25px;
}
.publicProject-title{
    color: #0fbcf9;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 30px;
    line-height: 62px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: center;
    /*margin-left: 450px;*/
    /*margin-bottom: 25px;*/
}
.publicProject-text{
    color: #0fbcf9;
    font-family: 'Lato';
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 20px;
}
.publicProject-btn{
    margin-top: 40px;
    margin-bottom: 20px;

}
