/*body{*/
    /*margin-left: 250px;*/
/*}*/
.signUp-title{
    /*color: #0fbcf9;*/
    font-family: 'Lato';
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.signUp-text{
    color: #0fbcf9;
    font-family: 'Lato';
    font-weight: 200;
    font-size: 20px;
    line-height: 62px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.signUp-form{
    background-color:#2f3640;
    background-size:cover;
    padding: 20px 20px 20px 20px;
    position: relative;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 254px;
}